*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --white: #FFFFFF;
    --black: #000000;

    --darck-900: #0D0D0D;
    --gray-100: #A6A6A6;
    --green-900: #088C7F;
    --read-900: #FF3F4B;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

body, input, textarea, button{
    font: 400 1rem;
}
